server:
  port: 8001


spring:
  application:
    name: cloud-provider-hystrix-payment
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url:  jdbc:mysql://localhost:3306/springcloud?useUnicode=true&characterEncoding=utf-8&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password: 999520

#eureka相关
eureka:
  client:
    #表示是否将机子注册进eurekaServer
    register-with-eureka: true
    #是否从eurekaServer抓取已有的注册信息
    fetch-registry: true
    service-url:
      #defaultZone:  http://localhost:7001/eureka #单机版eureka配置
      defaultZone:  http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka       #eureka集群版配置